<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}Exponential Platform 2.5 GPLv2 Stable Site{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    {% endblock %}
</head>
<body>
    {% block content %}
        {{ content|raw }}
    {% endblock %}
</body>
</html>
